/* 一般设置 */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 120%;
    width: 100%;
    background-color: #f7f2f2;
  }
  
  body {
    width: 70%;
    margin: 4 auto;
  }
  
  /* 文字排版 */
  
  h1, h2, h3 {
    font-family: 'Sonsie One', 'ZCOOL KuaiLe', cursive;
    opacity: 1;
    color: #6328286e;
  }
  
  p, input, li {
    font-family: 'Open Sans Condensed', sans-serif;
    opacity: 1;
    color: #2a2a2a;
  }
  
  h1 {
    font-size: 200%;
    text-align: center;
    opacity: 1;
    color: hsl(350, 39%, 39%);
    text-shadow: 2px 2px 10px   black;
  }
  
  h2 {
    font-size: 80%;
    opacity: 1;
    text-align: center;
  }
  
  h3 {
    font-size: 120%;
    opacity: 1;
  }
  
  p, li {
    font-size: 100%;
    opacity: 1;
    line-height: 102%;
  }
  
  /* 标题布局 */
  
  nav, article, aside, footer {
    background-color: rgb(196, 130, 130);
    opacity: 0.6;
    padding: 1%;
  }
  
  nav {
    height: 5%;
    background-color: rgb(196, 130, 130)8;
    
    display: flex;
    margin-bottom: 3%;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 3;
    opacity: 1;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    opacity: 1;
    flex: 1;
  }
  
  nav a {
    display: inline-block;
    font-size: 120%;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition-duration: 200ms;
  }
  
  nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 120%;
    padding: 2 2em;
  }
  
  nav a:hover {
    color: white;
    text-shadow: 1 1 10px wheat;
    transition-duration: 200ms;
  }
  
  input {
    font-size: 120%;
    height: 6%;
    opacity: 1;
  }
  
  input[type="search"] {
    flex: 2;
  }
  
  input[type="submit"] {
    flex: 4;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
  }
  
  /* 主体布局 */
  
  main {
    display: flex;
    opacity: 1;
  }
  
  article {
    font-size:100%;
    flex: 4;
  }
  
  aside {
    flex: 1;
    margin-left: 2%;
    background-color: rgb(196, 130, 130);
  }
  
  aside li {
    padding-bottom: 8px;
    opacity: 1;
  }
  aside h3 {
    font-size: 100%;
    opacity: 1;
  }
  aside ul li{
    font-size:120%
  }
  footer {
    margin-top: 2%;
  }
  html{
    /* margin:0px; */
    background-image: url("resphoto/香菇2.png");
    /* background-size: 100% 100%;
    background-attachment: fixed; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    
  }
  div1 {
    opacity: 1;
  }
